---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Mi historia";
---

<BaseLayout title={title}>
  <div class="content content--page">
     <h1>¡Hola! Somos Studiokuntur 📸✨</h1>
    <p>
      Soy Leonardo, la cámara inquieta detrás de Studiokuntur en Valencia. Todo empezó por pura curiosidad: salía a pasear por el barrio con una cámara viejita que apenas sabía usar, sacando fotos a todo lo que se me cruzaba. Poco a poco, esas fotos que parecían \"sin querer\" fueron tomando forma, y de repente, ¡mi hobby se convirtió en profesión!
    </p>
    <p>
      Al principio me costó creerlo cuando mis fotos empezaron a venderse en bancos de imágenes online. De repente, esos disparos improvisados de objetos cotidianos tenían valor para otras personas, ¡vaya sorpresa! Así fue como empecé a experimentar más, a formarme en serio y a colaborar con marcas y agencias de aquí y de allá.
    </p>
    <p>
      Actualmente estoy muy metido en la fotografía de producto, porque creo firmemente que cada objeto cuenta una historia especial. Mi reto favorito es encontrar el ángulo perfecto, ese detalle escondido que hace que un producto destaque. Y claro, vivir en Valencia ayuda muchísimo: una ciudad llena de vida, color y contrastes que me inspira todos los días.
    </p>
    <p>
      Pero ojo, no todo es trabajo comercial. Nunca olvido mis aventuras urbanas con la cámara al hombro. Me encanta perseguir atardeceres en la Ciudad de las Artes y las Ciencias o captar el bullicio y color de los mercados tradicionales valencianos. Esas imágenes acaban formando parte de mi catálogo de fotos de stock, que para mi alegría sigue creciendo más allá de nuestras fronteras.
    </p>
    <p>
      Todo esto no sería posible sin Natalia, mi esposa y compañera inseparable, que se encarga de la producción y de que cada sesión fluya a la perfección. Juntos, soñamos con llevar Studiokuntur aún más lejos, mezclando fotografía de stock con proyectos artísticos y creativos que reflejen esa mezcla genial que tiene Valencia: tradición, modernidad y minimalismo. Mientras tanto, seguimos disfrutando al máximo del camino, felices de contar historias visuales cada día. ¡Gracias por pasarte por aquí!
    </p>
  </div>
</BaseLayout>
