---
import Separator from "../components/Separator.astro";
---

<Separator />
<footer>
  <p>
    Basado en el <a
      href="https://dribbble.com/shots/25156320-Players-Club-UI-Animation"
      >diseño</a
    > de <a href="https://alextkachev.com/">Alex Tkachev</a>. Codificado en <a
      href="https://astro.build/"
    >Astro 5.2</a
    > por <a href="https://www.codrops.com">ElSaltoWeb.es</a>.
  </p>
  <p>
    Explora el <a href="https://github.com/crnacura/PlayersClub">repositorio en GitHub</a>.
    Lee el <a href="https://tympanus.net/codrops/?p=86632">artículo</a>.
  </p>
  <p>
    Adaptado para el portafolio de <strong>Leonardo de la Fuente</strong>.
  </p>
</footer>

<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>
