---
import Separator from "../components/Separator.astro";
---

<Separator />
<footer>
  <p>
    Creado con ❤️ por <strong>StudioKuntur</strong>, donde confluyen la fotografía y la experimentación visual.
  </p>
  <p>
    Desarrollado con <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a> y tecnologías abiertas para dar vida a nuevas formas de expresión digital.
  </p>
  <p>
    Encuentra el código en <a href="https://github.com/crnacura/PlayersClub" target="_blank" rel="noopener noreferrer">GitHub</a> y descubre más inspiración en nuestro <a href="https://studiokuntur.com" target="_blank" rel="noopener noreferrer">sitio oficial</a>.
  </p>
</footer>


<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>
